#cuentasContainer {
  width: calc(100vw - 60px);
  height: 74vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  font-family: "Rubik", sans-serif;
}

#cuentasContainer .cuenta-1,
.cuenta-2,
.cuenta-usd {
  display: block;
  width: 50vw;
  height: 100vh;
  margin-bottom: 1.5em;
  border-radius: 30px;
  border-bottom: solid red 8px;
  border-top: solid red 6px;
  border-left: solid rgb(118, 116, 116) 4px;
  border-right: solid rgb(118, 116, 116) 4px;
  box-shadow: 0px 2px rgb(165, 164, 164);
}

.cuenta1 h1,
.cuenta2 h1,
.cuentausd h1 {
  font-size: 2vw;
  text-align: center;
}

#cuentasContainer select {
  appearance: none;
  border-radius: 15px;
  border: solid red 3px;
  width: 10vw;
  text-align: center;
}

#cuentasContainer button {
  padding: 0 1px 0 1px;
  border: solid red 2px;
  border-radius: 5px;
  background-color: white;
}

#cuentasContainer button:hover {
  padding: 1px 2px 1px 2px;
  background-color: red;
  color: white;
  transition-duration: 0.5s;
}